{% extends "@FOSUser/layout.html.twig" %}
{% block try %}




    {{ form_start(a) }}
    <div class="ps-section ps-section--order-form pt-80 pb-80"  >
        <!--   <div class="container"> -->
        <div class="ps-section__header text-center mb-50">
            <div class="ps-section__top">Cupcackes Corner </div>
            <h3 class="ps-section__title ps-section__title--full">Recette FORM</h3>
        </div>
        <div class="ps-section__content">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                        <div class="form-group">
                            <label for="Nom" style="color: salmon;"><b>Nom:</b></label>
                            <input id="Nom" class="form-control" style="color:navy;" type="text" value="" {{ form_widget(a.nom) }}
                        </div>




                        <div class="form-group mb-20">
                            <label for="Type" style="color: salmon;"><b>Type:</b></label>
                            <select id="Type" style="color: navy;" class="form-control" {{ form_widget(a.type) }}
                        </div>

                        <div class="form-group mb-20" >
                            <label for="Description"style="color: salmon;"><b>Description:</b></label>
                            <textarea id="Description" style="color:navy;" class="form-control" rows="2" {{ form_widget(a.description) }}
                        </div>

                        <div class="form-group mb-20">
                            <label style="color: salmon;"><b>Image:</b> </label>
                            {{ form_widget(a.nomImage) }}
                        </div>

                        <div class="form-group mb-20">
                            <label for="Cout" style="color: salmon;"><b>Cout:</b></label>
                            <select id="Cout" style="color: navy;" class="form-control" {{ form_widget(a.cout) }}
                        </div>

                        <div class="form-group">
                            <label for="Personnes" style="color: salmon;"><b>Personnes:</b></label>
                            <input id="Personnes" style="color: navy;" class="form-control" type="number" value="" {{ form_widget(a.nbPersonne) }}
                        </div>

                        <div class="form-group" style="color: navy;">
                            <label for="tempsPreparation" style="color: salmon;"><b>Temps de Preparation:</b></label>
                            {{ form_widget(a.tempsPreparation) }}
                        </div>

                        <div class="form-group" style="color: navy;">
                            <label for="tempsRepos" style="color: salmon;"><b>Temps de Repos:</b></label>
                            {{ form_widget(a.tempsRepos) }}
                        </div>

                        <div class="form-group" style="color: navy;">
                            <label for="tempsCuisson" style="color: salmon;"><b>Temps de Cuisson: </b></label>
                            {{ form_widget(a.tempsCuisson) }}
                        </div>

                        <div class="form-group" >
                            <label for="difficulte" style="color: salmon;"><b> Difficulté:</b></label>

                            <select id="Cout" style="color: navy;" class="form-control" {{ form_widget(a.difficulte) }}

                        </div>



                        <div class="form-group">
                            <label for="ingredients" style="color: salmon;"><b>Ingredients:</b></label>
                            <textarea id="ingredients" style="color: navy;" class="form-control" type="text" value="" row="6" {{ form_widget(a.ingredients) }}
                        </div>
                        <div class="form-group">
                            <label for="etapes" style="color: salmon;"><b>Etapes:</b></label>
                            <textarea id="etapes" style="color: navy;" class="form-control" type="text" value="" row="6" {{ form_widget(a.etapes) }}
                        </div>
                        <div class="form-group">
                            <label for="astuces" style="color: salmon;"><b>Astuces:</b></label>
                            <textarea id="astuces" style="color: navy;" class="form-control" type="text" row="2" value="" {{ form_widget(a.astuces) }}
                        </div>

                        <div class="form-group" style="color: salmon;">
                            <label for="iduser" style="color: salmon;"><b> Recette soussigné par:</b></label>
                            {{ form_widget(a.iduser)}}
                        </div>


                        

        </div>
    </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                    <div class="form-group text-center" style="color: navy;">
                        {{ form_widget(a.Ajouter) }}
                    </div>
                </div>




        </div>
    </div>
    {{ form_end(a) }}

{% endblock %}
