{% extends "@FOSUser/layout.html.twig" %}
{% block try %}

<div id="back2top"><i class="fa fa-angle-up"></i></div>
<div class="loader"></div>
<div class="page-wrap" >
    <div class="ps-banner--home-1">
        <div class="rev_slider_wrapper fullscreen-container" id="revolution-slider-1" data-alias="concept121" data-source="gallery" style="background-color:#000000;padding:0px;">
            <div class="rev_slider fullscreenbanner" id="rev_slider_1059_1" style="display:none;" data-version="5.4.1">
                <ul class="ps-banner">
                    <li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ asset('../../assets/images/concept4-100x100.jpg') }}" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""><img class="rev-slidebg" src="{{  asset('images/banner/1.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                        <div class="tp-caption ps-banner__caption" id="layer01" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-80','-120','-120']" data-width="['none','none','none','400']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1700,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]" style="z-index: 7; white-space: nowrap;text-transform:left;">The LITTLE CUPCACKES CORNER</div>
                        <div class="tp-caption ps-banner__description" id="layer02" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]">

                    </li>
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ asset('../../assets/images/concept4-100x100.jpg') }}" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""><img class="rev-slidebg" src="{{  asset('images/banner/2.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                        <div class="tp-caption ps-banner__caption" id="layer04" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-80','-120','-120']" data-width="['none','none','none','400']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1700,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]" style="z-index: 7; white-space: nowrap;text-transform:left;"></div>
                        <div class="tp-caption ps-banner__description" id="layer05" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]"></div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Heros-->

    <div class="ps-section__content text-center" >

        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Recettes </a></li>

                <li class="active">Types</li>
            </ol>
        </div>
    </div>

    <section class="ps-section ps-section--offer pt-80 pb-100">
        <div class="container">
            <div class="ps-section__header text-center mb-100">
                <h4 class="ps-section__top">Cupcackes Corner</h4>
                <h3 class="ps-section__title ps-section__title--full">Types des Recettes</h3>
            </div>

                  <table  >
                      <tr>

                          <td class="ps-product" style="width: 255px;height: 300px;  ">
                              <!-- Gateaux et entremets -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: #f25755; border-color: #f25755;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Gateux et Entremets"}) }}"></a><img src="{{ asset ('images/gateau.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Gateux et Entremets"}) }}"><h2>Gateux et Entremets</h2></a>

                                      </div>
                                  </div>


                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- chocolat -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: white; border-color: #f25755;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Chocolat"}) }}"></a><img src="{{ asset ('images/choco.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:#f25755;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Chocolat"}) }}"><h2>Chocolat</h2></a>

                                      </div>
                                  </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>

                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Cremes et confitures -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: lightsalmon; border-color: lightsalmon;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Cremes et confitures"}) }}"></a><img src="{{ asset ('images/confitures_maison.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Cremes et confitures"}) }}"><h2>Cremes et confitures</h2></a>

                                      </div>
                                  </div>
                             </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Biscuits-->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: tomato; border-color: tomato;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Biscuits"}) }}"></a><img src="{{ asset ('images/biscuits.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Biscuits"}) }}"><h2>Biscuits</h2></a>

                                      </div>
                                  </div>

                          </td>
                      </tr>
                      <tr class="ps-product" style="width: 1100px;height: 20px;  ">

                      </tr>
                      <tr>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Spécialités Tunisiennes -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: #f25755; border-color: #f25755;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Spécialités Tunisiennes"}) }}"></a><img src="{{ asset ('images/tn.jpg') }}" style="width: 255px;height: 274.63px;; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Spécialités Tunisiennes"}) }}"><h2>Spécialités Tunisiennes</h2></a>

                                      </div>
                                  </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">

                              <!-- Traiteur(salé) -->

                              <div class="ps-product" style=" border:solid; border-width: 1px;background-color:lightcoral; border-color: lightcoral;  border-radius: 10px;">
                                  <div class="ps-product__thumbnail">

                                      <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Traiteur(salé)"}) }}"></a><img src="{{ asset ('images/trsale.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                  </div>
                                  <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Traiteur(salé)"}) }}"><h2>Traiteur(salé)</h2></a>

                                  </div>
                              </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- diétetique -->

                              <div class="ps-product" style=" border:solid; border-width: 1px;background-color: #f25755; border-color: #f25755;  border-radius: 10px;">
                                  <div class="ps-product__thumbnail">

                                      <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Diététiques"}) }}"></a><img src="{{ asset ('images/carrot-cake-sans-gluten.jpeg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                  </div>
                                  <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Diététiques"}) }}"><h2>Diététiques</h2></a>

                                  </div>
                              </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Recettes de base -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: white; border-color: #f25755;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Recettes de base"}) }}"></a><img src="{{ asset ('images/base.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:#f25755;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Recettes de base"}) }}"><h2>Recettes de base</h2></a>

                                      </div>
                                  </div>

                          </td>


                      </tr>
                      <tr class="ps-product" style="width: 1100px;height: 20px;  ">

                      </tr>
                      <tr>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Pains et Viennoiseries -->

                              <div class="ps-product" style=" border:solid; border-width: 1px;background-color: white; border-color: #f25755;  border-radius: 10px;">
                                  <div class="ps-product__thumbnail">

                                      <a class="ps-product__overlay" href="{{ path('recette_par_type',{"type":"Pains et Viennoiseries"}) }}"></a><img src="{{ asset ('images/pain.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                  </div>
                                  <div ><a  style="color:#f25755;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('recette_par_type',{"type":"Pains et Viennoiseries"}) }}"><h2>Pains et Viennoiseries</h2></a>

                                  </div>
                              </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- toutes les recettes -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: palevioletred; border-color: palevioletred;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('list_Recettes') }}"></a><img src="{{ asset ('images/tout.jpg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('list_Recettes') }}"><h2>Toutes les Recettes</h2></a>

                                      </div>
                                  </div>

                          </td>
                          <td class="ps-product" style="width: 20px;height: 300px;  ">

                          </td>
                          <td class="ps-product" style="width: 255px;height: 300px;">
                              <!-- Recherche avence -->

                                  <div class="ps-product" style=" border:solid; border-width: 1px;background-color: darksalmon; border-color: darksalmon;  border-radius: 10px;">
                                      <div class="ps-product__thumbnail">

                                          <a class="ps-product__overlay" href="{{ path('Recherche_Recette_DQL') }}"></a><img src="{{ asset ('images/avn.jpeg') }}" style="width: 255px;height: 274.63px; border-radius: 10px;" alt="">

                                      </div>
                                      <div ><a  style="color:white;  text-align: center; text-transform: uppercase;border-radius: 10px; " href="{{ path('Recherche_Recette_DQL') }}"><h2>Recherche avencé</h2></a>

                                      </div>
                                  </div>

                          </td>
                      </tr>
                  </table>


















        </div>
    </section>
    </div>

{% endblock %}
